section.page.achievements
  .all-100
    div.align-center.bottom-space.top-space.top.users(data-hook='top-users')
      h1 Top SINFOlicos
      div
  .all-100
    div.align-center.bottom-space.top-space
      h1 Achievements
  .all-100
      .list(data-hook='achievements-list')