.achievements.view
  text-align: center

  .title
    margin-bottom: 20px

.achievements

  .img-container
    max-width: 300px
    margin-left: auto
    margin-right: auto
  .img
    overflow: hidden
    background-size: cover
    background-position: 50%
    background-color: #eee
    width: 100%
    padding-bottom: 100%
    border-radius: 50%
    margin: 10px

  .title
    color: #aaa
    font-style: italic
    margin: 5px
    font-weight: 400

  .link
    a:hover
      text-decoration: none

  .list
    .achievement
      padding: 10px
      a
        text-decoration: none
        text-align: center
        .text
          height: 100px
    // .user
    //   display: inline
    //   img
    //     width: 30px
    //     height: 30px
    //     border-radius: 50%
    // .user:nth-child(1)
    //   img
    //     width: 300px
    //     height: 300px
    // .user:nth-child(2)
    //   img
    //     width: 150px
    //     height: 150px
    // .user:nth-child(3)
    //   img
    //     width: 100px
    //     height: 100px