.header.event
  overflow:hidden;
  background: url('/static/header-23.jpg') center / cover;
  background-color: transparent;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;

  #event-name
    color: white

.opacidade.event
  background-color: rgba(0, 0, 0, 0.45)
