.home
  .highlight
    color: #0077AA

  .big
    font-size:14pt

  .light
    color: #fff

  .section
    min-height: 250px
    background-color: #25201f
    padding-bottom: 50px
    padding-top: 25px
    overflow: hidden
    position: relative
    text-align: center;

  .overlay
    background: #25201f
    opacity: .8
    position: absolute
    z-index: 0
    top:0
    left: 0
    bottom: 0
    right: 0

  .overlay-cv
    background: #1E90FF
    opacity: .8
    position: absolute
    z-index: 0
    top:0
    left: 0
    bottom: 0
    right: 0

    h1
      margin: 30px
    .ink-button
      font-size: 24px


  .overlay.color
    background: #0077AA
    opacity: .95;

  .container
    z-index: 1
    position: relative

  .article-big
    color: white
    font-size: 20px
    margin-bottom: 20px
    text-align: center
    vertical-align: middle

  .area-light
    padding: 50px
    h1
      margin: 30px
    .ink-button
      font-size: 24px

  .area-dark
    padding: 50px
    background: black
    color: grey

  .speakers
    h1
      margin: 30px