// app/layout.styl

@import '../_variables'
@import '../_mixins'
@import './auth'
@import './card'
@import './home'
@import './partners'
@import './sessions'
@import './speakers'
@import './topbar'
@import './users'

body
  background: white
  font-family: Roboto, sans-serif

.page
  padding-top: 85px

table
  margin-bottom: 0

i.fa
  span
    margin: 0 5px

h1,h2,h3,h4,h5,h6
  margin: 0px
