// app/layout.styl

@import '../_variables'
@import '../_mixins'
@import './auth'
@import './achievements'
@import './card'
@import './misc'
@import './home'
@import './event'
@import './partners'
@import './sessions'
@import './speakers'
@import './topbar'
@import './users'
@import './members'

.error
  color: #DD4B39

.valid
  color: #77b451

.topbar
  .ink-navigation
    ul
      li.active
        a
          color: inherit !important
  border-right: 1px solid #5f646f

.mobile-nav
  background-color: #1e2329 !important
  
  .live
    a
      margin-left: 0

.live
  visibility: hidden
  a
    padding: 0.2em 0.5em !important
    margin-top: 0.2em
    margin-left: 0.7em
    border: 1px solid #c91111
    border-radius: 3px !important
  a:hover
    color: white !important
    border: 1px solid #428bca
  i
    color: #c91111
    margin-right: 5px

html
  font-family: 'Montserrat', sans-serif

body
  font-family: 'Montserrat', sans-serif
  background: white

.page
  min-height: 480px
  padding-top: 5em
  padding-bottom: 5em
  &.home
    padding: 0

table
  margin-bottom: 0

i.fa
  span
    margin: 0 5px
    font-family: 'Montserrat', sans-serif

h1,h2,h3,h4,h5,h6
  margin: 0px

footer
  padding: 30px
  border-top: 1px solid #eee
  /*margin-top: 30px*/

  .note
    margin-top: 30px

ul
  list-style-position: inside

.justify-text
  text-align: justify
