.page.home
  text-align: center

.page.success
.page.notFound
  text-align: center
  .title
    margin: 30px

.page.stream
  text-align: center
  .title
    margin: 30px

.sponsorus
  color: white
  h1
    color: white

.meetus
  ul
    padding: 0
    margin-top: 0

.ink-button.blue
  background: #0278AB
  border: 1px solid #0278AB

.ink-button.gray
  background: #373E4C
  border: 1px solid #373E4C
  color: white

.ink-button.gray:hover
  background: #0d68c2
  border: 1px solid #0a56a1
