.page.home
  text-align: center

.page.success
.page.notFound
  text-align: center
  .title
    margin: 30px

.page.stream
  text-align: center
  .title
    margin: 30px

.sponsorus
  color: white
  h1
    color: white

.meetus
  ul
    padding: 0
    margin-top: 0
