.partners
  text-align: center
  padding: 0 15px

  h1
    margin: 30px

  #see-more
    margin-top: 10px

  #see-more
    margin-top: 10px

  #digital-ocean
    margin: 20px 0
    display: block;
    img
      width: 100%
      max-width: 400px

  .list
    text-align: center
    .partner

      a
        text-decoration: none
        text-align: center
        img
          width: 200px
          margin: 10px

  .list-inline
    li
      width: 19%
      padding-left: 0
      padding-right: 0;
      margin-bottom:30px

  .sub-title
    color: darkgrey
    font-size: 18px

  .exclusive
    .list
      .partner
        a
          img
            width: 300px
            max-

  .maximum
    .list
      .partner
        a
          img
            width: 200px
  .medium
    .list
      .partner
        a
          img
            width: 125px
  .minimum
    .list
      .partner
        a
          img
            width: 75px
