.partners
  text-align: center

  .list
    text-align: center
    .partner
      a
        text-decoration: none
        text-align: center
        img
          width: auto
          margin: 10px

  .list-inline
    li
      width: 19%
      padding-left: 0
      padding-right: 0;
      margin-bottom:30px

  .subtitle
    font-size: 18px

  .exclusive
    .list
      .partner
        a
          img
            width: 300px
            max-

  .maximum
    .list
      .partner
        a
          img
            width: 150px