.partners
  text-align: center

  .list
    text-align: center
    .partner
      a
        text-decoration: none
        text-align: center
        img
          width: auto
          margin: 10px

  .exclusive
    .list
      .partner
        a
          img
            width: 300px
            max-

  .maximum
    .list
      .partner
        a
          img
            width: 200px
