.sessions.view
  text-align: center

  .kind
    margin-top: 20px
    margin-bottom: 10px
  .name
    margin-bottom: 20px
  .description
    margin: 20px

  .tickets
    margin-top: 10px
    margin-bottom: 10px
    .users
      margin-top: 10px
      margin-bottom: 10px

  .speaker
    .img-container
      max-width: 100px

  .user
    display: inline
    img
      width: 30px
      height: 30px
      border-radius: 50%

.list .session
.sessions .session
  margin-bottom: 20px
  a
    text-decoration: none

.download-calendar
  .fa-download
    font-size: 1em
    margin-left: 5px
    margin-right: 15px

  .download-button
    margin-top: 20px

.fc-icon
  overflow: visible
  top: 0
  font-size: 1.5em
