.sessions.view
  text-align: center

  .speaker
    .img-container
      max-width: 100px

  .user
    display: inline
    img
      width: 30px
      height: 30px
      border-radius: 50%

.sessions
  .list
    .session
      a
        text-decoration: none
