.sessions.view
  text-align: center

  .speaker
    .img-container
      max-width: 100px

  .user
    .img-container
      width: 30px

.sessions
  .list
    .session
      a
        text-decoration: none
