.speakers.list
.speakers.view
  text-align: center
  padding-top: 3.5em
  padding-bottom: 0

  .title
    margin-bottom: 20px

  .details
    .session
      margin-bottom: 30px
  .name
    height: inherit;

.speakers
  a
    color: inherit
    text-decoration: none
  .img-container
    max-width: 200px
    margin-left: auto
    margin-right: auto
  .img
    overflow: hidden
    background-size: cover
    background-position: 50%
    background-color: #eee
    width: 100%
    padding-bottom: 100%
    border-radius: 50%

  .name
    margin: 10px
    text-align: center
    height: inherit;

  .title
    color: darkgray
    margin: 25px
    font-size large
    font-weight: 400
    height: 40px
    line-height: 17px

  .title-home
    color: #FFFFFF
    margin: 25px
    font-size 15px
    font-weight: 400
    height: 40px
    line-height: 17px

  .section
    color: #FFFFFF
    background-color: #25201f
    padding-top: 25px
    overflow: hidden
    position: relative
    text-align: center
    h2, h3
      color: white

  .overlay-blue
    background: #0278AB
    opacity: .8
    position: absolute
    z-index: 0
    top:0
    left: 0
    bottom: 0
    right: 0

  .container
    z-index: 1
    position: relative

  .list
    .speaker
      padding: 10px
      a
        text-decoration: none
        text-align: center
        .text
          height: 100px
  .description
    margin: 4em
    text-align: left
