.speakers.list
.speakers.view
  text-align: center

  .title
    margin-bottom: 20px

  .details
    .session
      margin-bottom: 30px


.speakers
  color: black

  .img-container
    max-width: 250px
    margin-left: auto
    margin-right: auto
  .img
    overflow: hidden
    background-size: cover
    background-position: 50%
    background-color: #eee
    width: 100%
    padding-bottom: 100%
    border-radius: 50%

  .name
    margin: 10px
    text-align: center
    height: 40px

  .title
    color: #aaa
    margin: 25px
    font-weight: 400
    height: 40px
    line-height: 17px

  .list
    .speaker
      padding: 10px
      a
        text-decoration: none
        text-align: center
        .text
          height: 100px
