.speakers
  .title
    color: #aaa
    font-style: italic
    margin: 5px
    font-weight: 400
    font-size: 80%

  .list
    a.speaker
      float: left
      margin: 10px
      text-decoration: none
      text-align: center
      .img
        overflow: hidden
        background-size: cover
        background-position: 50%
        background-color: #eee
        width: 250px
        height: 250px
        border-radius: 50%
        margin: 10px