.users
  .img-container
    max-width: 250px
    margin-left: auto
    margin-right: auto
  .img
    overflow: hidden
    background-size: cover
    background-position: 50%
    background-color: #eee
    width: 100%
    padding-bottom: 100%
    border-radius: 100%
    border: 5px solid rgba(0,0,0,0.8)

.users.view
  padding-top: 10px

  .information-area
    margin: 30px auto

  .name
    margin: 10px auto 20px auto
    line-height: 50px 

  .buttons
    .ink-button
      min-width: 235px
      border: 0px
      color: #fff
      margin: 2px
      .fa
        display: inline-block
        margin-right: 10px

  .message
    margin: 20px

  .users-achievements
    float: left
    margin-top: 20px
    margin-bottom: 20px

  .resume
    margin-top: 10px
    a
      background-color: #0278ab

  .sub-heading
    margin: 10px auto

  .heading
    margin: 15px auto

.users.edit
  padding: 50px

  li.checkbox
    width: 200px
    float: left

.users.top
  .user
    height: 40px
    display: block
    a
      text-decoration: none
      line-height: 40px
    span
      padding: 10px
      line-heigth: 40px
    img
      width: 30px
      height: 30px
      margin: 5px
      border-radius: 50%
