.users
  .img-container
    max-width: 300px
    margin-left: auto
    margin-right: auto
  .img
    overflow: hidden
    background-size: cover
    background-position: 50%
    background-color: #eee
    width: 100%
    padding-bottom: 100%
    border-radius: 100%

.users.view
  text-align: center
  .name
    margin: 30px
  .buttons
    .ink-button
      border: 0px
      color: #fff
      margin: 5px
      .fa
        display: inline-block
        margin-right: 10px
  .message
    margin: 20px
  .users-achievements
    float: left
    margin-top: 20px
    margin-bottom: 20px

.users.edit
  li.checkbox
    width: 200px
    float: left

.users.top
  .user
    height: 40px
    display: block
    a
      text-decoration: none
      line-height: 40px
    span
      padding: 10px
      line-heigth: 40px
    img
      width: 30px
      height: 30px
      margin: 5px
      border-radius: 50%