.users.view
  text-align: center
  .img
    overflow: hidden
    background-size: cover
    background-position: 50%
    background-color: #eee
    width: 50%
    padding-bottom: 50%
    border-radius: 50%
    margin: auto

.users.edit
  li.checkbox
    width: 200px
    float: left