.member.all-20.medium-25.small-50.tiny-100
  h5.name.push-center(data-hook='name')
  .img-container.push-center
    .img(data-hook='img')
  .details.push-center
    a.social-icon.fa.fa-envelope-o(data-hook='mail')
    a.social-icon.fa.fa-twitter(data-hook='twitter')
    a.social-icon.fa.fa-github(data-hook='github')
