.member.all-100
  a(data-hook='action-view')
    h3.name(data-hook='name')
    .img-container
      .img(data-hook='img')
    .details
      a(data-hook='mail')
      a(data-hook='twitter')
      a(data-hook='github')
