section.page.users.edit

  h2 Edit profile

  form.ink-form(data-hook='user-form')
    fieldset(data-hook='field-container')

  .buttons
    .ink-button(data-hook='facebook-add' style='background: #48649F')
      span
        i.fa.fa-facebook
      span add facebook login
    .ink-button(data-hook='google-add' style='background: #DD4B39')
      span
        i.fa.fa-google
      span add google login
    .ink-button(data-hook='fenix-add' style='background: #19ACCD')
      span
        i.fa.fa-graduation-cap
      span add fenixedu login
    .buttons
      button.ink-button(data-hook='reset', type='submit') Submit

