section.page.users.edit

  h2 Edit profile

  form.ink-form(data-hook='user-form')
    fieldset(data-hook='field-container')
      
    .buttons
      button.ink-button(data-hook='reset', type='submit') Submit

