section.page.users.view
  h1(data-hook='name')
  .img-container
    .img(data-hook='img')

  div(data-hook='area')
    h6 Area
    div

  div(data-hook='skills')
    h6 Skills
    div

  .buttons
    .ink-button(data-hook='facebook-add' style='background: #48649F')
      span
        i.fa.fa-facebook
      span add facebook login
    .ink-button(data-hook='google-add' style='background: #DD4B39')
      span
        i.fa.fa-google
      span add google login