section.page.users.view.ink-grid
  h1.name(data-hook='name')
  .img-container
    .img(data-hook='img')

  div(data-hook='area')
    h6 Area
    div

  div(data-hook='skills')
    h6 Skills
    div

  h1 Your Sessions
  div(data-hook='user-sessions')
    h6 Sessions
    div