section.page.users.view
  h1(data-hook='name')
  .img-container
    .img(data-hook='img')

  .buttons
    .ink-button(data-hook='facebook-add' style='background: #48649F')
      span
        i.fa.fa-facebook
      span Add facebook account
    .ink-button(data-hook='google-add' style='background: #DD4B39')
      span
        i.fa.fa-google
      span Add google account
    .ink-button(data-hook='fenix-add' style='background: #19ACCD')
      span
        i.fa.fa-graduation-cap
      span Add fenixedu account

  div.message(data-hook='message-container')
    h6(data-hook='message-text')

  div(data-hook='area')
    h6 Area
    div

  div(data-hook='skills')
    h6 Skills
    div