.all-100.double-top-space.footer.partners
  h3 Partners

  .sub-title Exclusive
  .partners.exclusive
    .list-inline(data-hook='exclusive-partner')
  
  .sub-title Platinum
  .partners.maximum
    .list-inline(data-hook='max-partner')
  .all-100.push-center
    a#digital-ocean(href='https://www.digitalocean.com/')
      .img
  .all-100
    p.note Made with &#9829; at SINFO - code available 
      |<a href='https://github.com/sinfo/sinfo-webapp'> here</a>
