#partners.all-100.double-top-space.footer.partners
  h1 Partners

  .sub-title Diamond
  .partners.exclusive
    .list-inline(data-hook='exclusive-partner')

  .sub-title Platinum
  .partners.maximum
    .list-inline(data-hook='max-partner')

  .all-100.push-center
    a.ink-button.blue#see-more(data-hook='partners-see-more') See More

  .all-100.top-space.note
    .all-25.small-100
      a(href='/contacts') Contacts
    .all-50.small-100
      p Made with &#9829; at SINFO - code available 
        |<a href='https://github.com/sinfo/sinfo-webapp'> here</a>
    .all-25.small-100
      a(href='/privacy-policy') Privacy policy
