.speaker.all-25.medium-30.small-100.tiny-100
  .push-center
    a.push-center(data-hook='action-view')
      .img-container.push-center
        .img(data-hook='img')
       h5.push-center.name(data-hook='name')
      .title.push-center(data-hook='title')
