section.page
  .achievements.view
    .all-100
      div.top-space
      h1(data-hook='name')
    .all-100
      div.img-container.top-space
        img(data-hook='img')
    .all-100
      div
        h3 Description
        p(data-hook='description')
        
        h3 Instructions
        p(data-hook='instructions')
        
        h3 Value
        p(data-hook='value')
    
    .all-100
      div(data-hook='achievement-session')