body.ink-drawer

  .topbar.content-drawer
    .ink-grid
      nav.ink-navigation#main-menu
        ul.menu.horizontal.push-left
          li.title
            a(href='/')
              img(src='/static/logo.png')

        ul.menu.horizontal.push-left.hide-medium.hide-small.hide-tiny
          li
            a.ink-smooth-scroll(href='#speakers') Speakers
          li
            a.ink-smooth-scroll(href='#sessions') Schedule
          li
            a.ink-smooth-scroll(href='#partners') Partners
          //- li
          //-   a(href='#achievements') Achievements
          li
            a(href='https://www.youtube.com/user/sinfoist') Live Stream!
          li
            a(href='/coc') Code of Conduct
            


        ul.menu.horizontal.push-right
          li(data-hook='nav')
          li.hide-all.show-medium.show-small.show-tiny#menuMobile(data-hook='menu-mobile')
          li.hide-all.show-medium.show-small.show-tiny
            button.ink-button.right-drawer-trigger
              span.fa.fa-bars
              span.fa.fa-times

  div.right-drawer
    ul
      li Menu
      li
        a.ink-smooth-scroll(href='#speakers') Speakers
      li
        a.ink-smooth-scroll(href='#sessions') Schedule
      li
        a.ink-smooth-scroll(href='#partners') Partners
      //- li
      //-   a(href='#achievements') Achievements
      li
        a(href='https://www.youtube.com/user/sinfoist') Live Stream!
      li
        a(href='/coc') Code of Conduct

  main(data-hook='page-container')

  footer(data-hook='footer')
