body.ink-drawer

  .topbar.content-drawer
    .ink-grid
      nav.ink-navigation#main-menu
        ul.menu.horizontal.push-left
          li.title
            a(href='/')
              img#home-icon(src='/static/poweron.png')
          li.live(data-hook='live')
            a(href='https://www.youtube.com/sinfoist/live')
              i.fa.fa-circle
              | LIVE

        ul.menu.horizontal.push-left.hide-medium.hide-small.hide-tiny
          li
            a.ink-smooth-scroll(href='/speakers') Speakers
          li
            a.ink-smooth-scroll(href='/sessions') Schedule
          li
            a.ink-smooth-scroll(href='/venue') Venue
          li
            a.ink-smooth-scroll(href='/contacts') Contacts
          li
            a.ink-smooth-scroll(href='/partners') Partners
          //- li
          //-   a(href='#achievements') Achievements
          //- li
          //-   a(href='https://www.youtube.com/user/sinfoist') Live Stream!
          li
            a(href='/coc') Code of Conduct
            


        ul.menu.horizontal.push-right
          li.hide-medium.hide-small.hide-tiny
            a(href='/me')
              i.fa.fa-user-circle-o.fa-2(aria-hidden='true')
              | My profile
          //- li(data-hook='nav')
          //- li.hide-all.show-medium.show-small.show-tiny#menuMobile(data-hook='menu-mobile')
          li.hide-all.show-medium.show-small.show-tiny
            button.ink-button.right-drawer-trigger
              span.fa.fa-bars
              span.fa.fa-times

  div.right-drawer
    ul
      li Menu
      li
        a(href='/me') My profile
      li
        a.ink-smooth-scroll(href='/speakers') Speakers
      li
        a.ink-smooth-scroll(href='/sessions') Schedule
      li
        a.ink-smooth-scroll(href='/venue') Venue
      li
        a.ink-smooth-scroll(href='/contacts') Contacts
      li
        a.ink-smooth-scroll(href='/partners') Partners
      //- li
      //-   a(href='#achievements') Achievements
      //- li
      //-   a(href='https://www.youtube.com/user/sinfoist') Live Stream!
      li
        a(href='/coc') Code of Conduct
  
  section.page.content-drawer
    main(data-hook='page-container')

    footer(data-hook='footer')
