meta(name='description' content='SINFO is an annual not-for-profit event organised exclusively by college students who strive for a more interesting and ground-breaking event each edition.')
meta(name='author' content='SINFO')
meta(name='HandheldFriendly' content='True')
meta(name='MobileOptimized' content='320')
meta(property='og:title' content='SINFO')
meta(property='og:url' content='https://sinfo.org')
meta(property='og:image' content='https://sinfo.org/static/header.jpg')
meta(property='og:description' content='SINFO is an annual not-for-profit event organised exclusively by college students who strive for a more interesting and ground-breaking event each edition.')
meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0')
meta(name='apple-mobile-web-app-capable', content='yes')

link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
link(href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css' rel='stylesheet')
link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
link(href=cssFileName rel='stylesheet')
//- link(href='//fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css')
link(rel='shortcut icon' href='/static/poweron.png' type='image/x-icon')
link(rel='icon' href='/static/poweron.png' type='image/x-icon')

//- script(src=jsFileName)
script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
script(async type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js')
script(async type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js')
script(type='text/javascript' src='https://ink.global.ssl.fastly.net/3.1.10/js/ink-all.js')
script(type='text/javascript' src='https://ink.global.ssl.fastly.net/3.1.10/js/autoload.js')
