section.page.speakers.view.ink-grid
  h1.name(data-hook='name')
  //- img(data-hook='img')
  .img-container
   .img(data-hook='img')

  .details
    a(data-hook='mail')
    a(data-hook='twitter')
    a(data-hook='github')
