body.ink-drawer
  .topbar
    .ink-grid
      nav.ink-navigation
        ul.menu.horizontal.push-left
          //- li.hide-all.show-medium.show-small.show-tiny
          //-   .ink-button.small.white.left-drawer-trigger
          //-     i.fa.fa-bars.fa-2x
          li.title
            //- a(href='//sinfo.org/22/')
            a(href='/')
              img(src='/static/logo.png')

        ul.menu.horizontal.push-left.hide-small.hide-tiny
          li
            a(href='//sinfo.org/22/#speakers') Speakers
          li
            a(href='//sinfo.org/22/schedule.html') Schedule
          li
            a(href='//sinfo.org/22/StartupRush.html') Startup Rush
          li
            a(href='//innovation.awards.pt/' target='_blank') IA
          li
            a(href='//sinfo.org/22/#partners') Partners
          li
            a(href='//sinfo.org/22/contacts.html') Contacts


        ul.menu.horizontal.push-right
          li(data-hook='nav')
          li.hide-all.show-small.show-tiny#menuMobile(data-hook='menu-mobile')
            i.fa.fa-bars

        ul.menu.vertical#menuVertical
          li
            a(href='//sinfo.org/22/#speakers') Speakers
          li
            a(href='//sinfo.org/22/schedule.html') Schedule
          li
            a(href='//sinfo.org/22/StartupRush.html') Startup Rush
          li
            a(href='//innovation.awards.pt/' target='_blank') IA
          li
            a(href='//sinfo.org/22/#partners') Partners
          li
            a(href='//sinfo.org/22/contacts.html') Contacts


  main.content-drawer.ink-grid(data-hook='page-container')

  //- .left-drawer