body.ink-drawer
  .topbar
    .ink-grid
      nav.ink-navigation#main-menu
        ul.menu.horizontal.push-left
          //- li.hide-all.show-medium.show-small.show-tiny
          //-   .ink-button.small.white.left-drawer-trigger
          //-     i.fa.fa-bars.fa-2x
          li.title
            //- a(href='//sinfo.org/22/')
            a(href='/')
              img(src='/static/logo.png')

        ul.menu.horizontal.push-left.hide-small.hide-tiny
          li
            a.ink-smooth-scroll(href='/#speakers') Speakers
          li
            a.ink-smooth-scroll(href='/#sponsorus') Sponsor us!
          li
            a.ink-smooth-scroll(href='/#sponsorus') Newsletter
          li
            a.ink-smooth-scroll(href='/#meetus') Meet us!
          li
            a(href='/code') Code of Conduct
            


        ul.menu.horizontal.push-right
          li(data-hook='nav')
          li.hide-all.show-small.show-tiny#menuMobile(data-hook='menu-mobile')
            i.fa.fa-bars

        ul.menu.vertical#menuVertical
          li
            a.ink-smooth-scroll(href='/#speakers') Speakers
          li
            a.ink-smooth-scroll(href='/#sponsors') Sponsor us!
          li
            a.ink-smooth-scroll(href='/#meetus') Meet us!
          li
            a.ink-smooth-scroll(href='/code') Code of Conduct

  main(data-hook='page-container')

  footer(data-hook='footer')
