body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') SINFO WebApp
      div.collapse.navbar-collapse(data-hook='nav')
  .container
    main(data-hook='page-container')
