section.page.speakers.view
  h1(data-hook='name')
  //- img(data-hook='img')
  .img-container
   .img(data-hook='img')
  h3.title(data-hook='title')


  .all-100(data-hook='description')
    h6 Bio
    div

  .details
    .sessions.all-100(data-hook='speaker-sessions')
      h2 Sessions
      div
