section.page.speakers.view
  div.ink-grid
    div.column-group.horizontal-gutters
      div.all-100
        .push-left
          h1
            span(data-hook='name')
            span.title(data-hook='title')
        div.all-100
      div.all-33.medium-50.small-100.tiny-100
        img(data-hook='img', width='60',  height='60')
        div
          h4 Description
          .paragraphs(data-hook='description')

