section.page.achievements.view.ink-grid
  .achievements.view
    .all-100
      div.top-space
      h1 Achievement
      h3.name(data-hook='name')
    .all-100
      div.img-container.top-space
        img(data-hook='img')
    .all-100
      div(data-hook='description')
        h3 Description
        div

      div(data-hook='instructions')
        h3 Instructions
        div

      div(data-hook='value')
        h3 Value
        div

    .all-100
      div(data-hook='achievement-session')