html
  include ../../views/head
  title SINFO
  script(async).
    function getScript(source, callback) {
      var script = document.createElement('script');
      var prior = document.getElementsByTagName('script')[0];
      script.async = 1; prior.parentNode.insertBefore(script, prior);

      script.onload = script.onreadystatechange = function( _, isAbort ) {
          if(isAbort || !script.readyState || /loaded|complete/.test(script.readyState) ) {
              script.onload = script.onreadystatechange = null;
              script = undefined;

              if(!isAbort) { if(callback) callback(); }
          }
      };

      script.src = source;
    }

    getScript( 'https://www.google.com/jsapi' , function(){
      google.load("maps", "3",{
        callback: function (){
          var map = new google.maps.Map(document.querySelector('[data-hook=map-canvas]'),{
            scrollwheel: false,
            center: new google.maps.LatLng(38.7375721,-9.1376594),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          });
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(38.736814, -9.138123),
            map: map,
            title: 'SINFO'
          });
        }
      });
    });

  script.
    (function($) {
      $.fn.parallax = function(options) {
        var windowHeight = $(window).height();
          // Establish default settings
          var settings = $.extend({
            speed        : 0.15
          }, options);
          // Iterate over each object in collection
          return this.each( function() {
            // Save a reference to the element
            var $this = $(this);
            // Set up Scroll Handler
            $(document).scroll(function(){
              var scrollTop = $(window).scrollTop();
              var offset = $this.offset().top;
              var height = $this.outerHeight();
              // Check if above or below viewport
              if (offset + height <= scrollTop || offset >= scrollTop + windowHeight) {
                return;
              }
              var yBgPosition = Math.round((offset - scrollTop) * settings.speed);
              yBgPosition = yBgPosition < 0 ? yBgPosition : 0 ;
              // Apply the Y Background Position to Set the Parallax Effect
              $this.css('background-position', 'center ' + yBgPosition + 'px');
            });
          });
        }
      }(jQuery));
    $().ready(function(){
      $('.parallax').parallax({ speed :0.20 });
    })

  //script.
    //$().ready(function(){
      //var nav_hours = new Date().getHours();
      //if (nav_hours >= 13 && nav_hours <= 19){
        //$('.live').attr('style', 'display: block !important');
      //}
    //})

  body.ink-drawer
    include ./nav.jade

    section.page.home.content-drawer

      .header#header.parallax
        .opacidade.column-group.gutters
          .all-100
            h1
              a(href="/")
                img(src='/static/logo.png')
            br

            a.social-icon(target="_blank" href="http://fb.com/sinfoist")
              i.social-icon.fa.fa-facebook
            a.social-icon(target="_blank" href="http://twitter.com/sinfoist")
              i.social-icon.fa.fa-twitter
            a.social-icon(target="_blank" href="http://youtube.com/sinfoist")
              i.social-icon.fa.fa-youtube
            a.social-icon(target="_blank" href="http://instagram.com/sinfoist")
              i.social-icon.fa.fa-instagram
            a.social-icon(target="_blank" href="http://github.com/sinfo")
              i.social-icon.fa.fa-github

          .all-50.medium-100.small-100.tiny-100.push-center.events
              .half-gutters.event
                h3.description.align-center Join us in our next edition!
                h2#event-title.description.align-center= events[1].name
                .calendar
                  i.fa.fa-calendar
                  br.other
                  span= events[1].begin.day + ' - ' + events[1].end.day + ' ' + events[1].begin.month

      .area-light
        h1.highlight Who are we
        
        .column-group.gutters
          .all-100
            p.big SINFO is a non-profit, college student, organization responsible for organizing
              | one of the biggest Tech conferences in Portugal. It's an annual, non-profit
              | event whose goal is to create a suitable, tech friendly environment to learn, share and
              | explore through keynotes, workshops, presentations and much, much more! 

        .column-group.gutters
          .all-50.small-100.tiny-100.justify-text.when
            h3 When?
            p.big The main event takes place every year during one week.
              
          .all-50.small-100.tiny-100.justify-text.where
            h3 Where?
            p.big SINFO takes place at the Alameda Campus of Instituto Superior Técnico,
              | in the beautiful city of Lisbon, Portugal.

        .column-group.gutters
          .all-50.small-100.tiny-100.justify-text.why
            h3 Why?
            p.big Our main goal is to allow students and general attendance to interact
              | and be closer with influential, important and interesting people or
              | companies in the fields of Information Technology and Computer Science.
              
          .all-50.small-100.tiny-100.justify-text.forHowMuch
            h3 For how much?
            p.big NOTHING! We commit to make everything available for FREE! You just
              | need to show up to enjoy the event.
          
        .column-group.gutters
          .all-50.small-100.tiny-100.justify-text.isItThat
            h3 Is that it?
            p.big Absolutely not! Despite the annual SINFO conference being our main event, we organize
              | much more things and cooperate with a lot more communities and companies during the year.

      #achievements.overlay-gray.container.section.all-100.light.top5
        h1.light Top 5 most active users
        p These were the users that accomulated the most points from redeeming QR codes during SINFO24
        ul
          li.st
            span.number 1.
            | Manuel Alves
            p.points 590 points
          li
            span.number 2.
            | Tito Santiago
            p.points 550 points
          li
            span.number 3.
            | Artur Fonseca
            p.points 250 points
          li
            span.number 4.
            | Sérgio Tavares
            p.points 230 points
          li
            span.number 5.
            | Tiago Simões
            p.points 170 points

      #cv.area-light
        h1 Upload your CV now!
        p Are you new to the job market? Or maybe looking for a new challenge? Well, send us your curriculum vitae and every company present at SINFO will receive it!
        a.ink-button.gray(href="/me/edit" ) Upload CV

      #speakers.light.overlay-blue.container.section.reviews.all-100
        h1.light Speakers
        include ./speakers
      
      //#sessions.area-light.sessions.all-100
        //h1 Schedule
        //include ./sessions
        
      #venue.overlay-gray.container.section.meetus.all-100
        h1.light Venue
        include ../../views/partials/venue
      #contacts.overlay-blue.container.section.meetus.all-100
        h1.light Contacts
        include ../../views/partials/contacts
        
      #team.area-light.container.members.all-100
        h1 The team
        include ./members

      #newsletter.overlay-blue.container.section.newsletter.all-100
        h1.light Newsletter Signup
        div
          p.light  No spam - only latest news workshops and activity updates
          form.form(action="https://sinfo.us8.list-manage.com/subscribe?u=de57247db0922adf365af7eef&id=107b5bbe53",method="post")
            div
              input.ink-form.control.required(type="email",value="",name="EMAIL",id="NewsletterEmail",placeholder="your@email.com")
              br
              br
              input.ink-button.gray(type="submit",name="subscribe",value="Subscribe")
      include ./footer
