.list.members
  each member in members
    div.member.all-20.medium-25.small-50.tiny-100
      div.name.push-center
        h5= member.name
      .img-container.push-center
        .img(style='background-image:url(' + member.img + ');')
      .details.push-center
        if member.mail
          a.social-icon.fa.fa-envelope-o(target='_blank' href='mailto:'+ member.mail)
        if member.twitter
          a.social-icon.fa.fa-twitter(target='_blank' href='https://twitter.com/' + member.twitter)
        if member.github
          a.social-icon.fa.fa-github(target='_blank' href='https://github.com/' + member.github)
