.sessions
  #calendar
    script.
      var sessions = !{JSON.stringify(sessions)}
      var options = !{JSON.stringify(options.kinds.sessions)}
      var event = !{JSON.stringify(events[1])}
      event.date = new Date(event.date)
      var defaultView = 'agendaWeek'
      var now = new Date()
      var defaultDate = now.getTime() > event.date.getTime() ? now : event.date
      var header = {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      }

      var footer = false

      if(window.innerWidth < 900) {
        defaultView = 'agendaDay'
        header = {
          left: '',
          center: 'title',
          right: ''
        }

        footer = {
          left: '',
          center: 'prev,next today',
          right: ''
        }
      }

      $().ready(function(){
        $('#calendar').fullCalendar({
          events: sessions.map(function (s) {
            var color = '';
            options.forEach(function (o) {
              if (s.kind === o.name) color = o.color
            })
            return {
              title: s.name,
              start: new Date(s.date),
              duration: new Date(s.duration),
              end: new Date((new Date(s.date)).getTime() + (new Date(s.duration)).getTime()),
              url: '/events/' + event.id + '/sessions/' + s.id,
              color:  color
            }
          }),
          header: header,
          footer: footer,
          defaultDate: defaultDate,
          defaultView: defaultView,
          height: 'auto',
          minTime: '09:00:00',
          maxTime: '22:00:00',
          weekends: false,
          allDaySlot: false,
          hiddenDays: [0]
        });
      })
  .push-center.all-100.download-calendar
    a.download-button.ink-button.blue(href='//deck.sinfo.org/calendar.ics')
      i.fa.fa-download
      span.hide-tiny.hide-small Download 
      span Schedule
