section.page.sessions.view
  h2.kind(data-hook='kind')
  h1.name(data-hook='name')

  div(data-hook='date')
    i.fa.fa-calendar
      span

  div(data-hook='hours')
    i.fa.fa-clock-o
      span

  div(data-hook='place')
    i.fa.fa-map-marker
      span

  .description(data-hook='description')
    div

  .tickets.all-100(data-hook='ticket')
    h2 Tickets
    div(data-hook='tickets-message')

    .users.all-100(data-hook='session-users')
      h5 Attendees
      div

    .ink-button.blue(data-hook='action-get-ticket')
      i.fa.fa-ticket
        span Get a ticket!
    .ink-button.red(data-hook='action-void-ticket')
      i.fa.fa-times
        span Void ticket
    .ink-button.green(data-hook='action-confirm-ticket')
      i.fa.fa-check
        span Confirm ticket


  .details
    .speakers.all-100(data-hook='session-speakers')
      div

    .partners.all-100(data-hook='session-partners')
      div
