section.page.sessions.view
  h3(data-hook='kind')
  h1(data-hook='name')

  div(data-hook='description')
    div

  div(data-hook='place')
    i.fa.fa-location-arrow
    span

  div(data-hook='date')
    i.fa.fa-clock-o
    span

  .details
    .speakers.all-100(data-hook='session-speakers')
      h2 Speakers
      div

    .partners.all-100(data-hook='session-partners')
      h2 Partners
      div

  .tickets.all-100(data-hook='ticket')
    h2 Tickets
    .ink-button.blue(data-hook='action-get-ticket')
      i.fa.fa-ticket
        span Get a ticket!
    .ink-button.red(data-hook='action-void-ticket')
      i.fa.fa-times
        span Void ticket
    .ink-button.green(data-hook='action-confirm-ticket')
      i.fa.fa-check
        span Confirm ticket
