.all-100
  div
    p Want to talk? We love to talk! Come join us for a cup of coffee (or beer) or, if you prefer, drop us a line!
  section#map.dark
    #map-canvas(data-hook="map-canvas")
    div.container.push-center
      div.row.location
        ul(itemscope="",itemtype="http://schema.org/PostalAddress")
          li
            span.fa.fa-map-marker.highlight
            span Instituto Superior Técnico, Lisbon
          li
            span.fa.fa-envelope.highlight
            span geral@sinfo.org
