.partners
  h1 Partners

  .all-100.exclusive
    h3 Exclusive
    .list(data-hook='exclusive-partner')

  .all-100.maximum
    h4 Platinum
    .list(data-hook='max-partner')


  .all-100
    p.note Made with &#9829; at SINFO