footer.partners

  .sub-title Exclusive
  .partners.exclusive
    .list-inline(data-hook='exclusive-partner')

  .sub-title Platinum
  .partners.maximum
    .list-inline(data-hook='max-partner')

  .all-100
    p.note Made with &#9829; at SINFO