ul.menu.horizontal.push-right
  li
    a(href='/me')
      span.user-picture(data-hook='user-picture')
      i.fa.fa-caret-down-a
        span(data-hook='user-name')
    ul.submenu
      li
        a(data-hook='action-logout') Logout

  div.clear

