ul.menu.horizontal.push-right
  li(data-hook='authenticated-menu')
    a(href='/me')
      img.user-picture(data-hook='user-picture')

      i.fa.fa-caret-down-a
        span(data-hook='user-name')
    ul.submenu
      li
        a(data-hook='action-edit') Edit profile
        a(data-hook='action-logout') Logout

  li(data-hook='unauthenticated-menu')
    a(href='/auth/login') Login


  div.clear

