section.page.auth.login
  h2 Login
<<<<<<< HEAD
  div.auth
    .btn.btn-primary(data-hook='facebook-login')
      i.fa.fa-facebook
        span login with facebook
    .btn.btn-primary(data-hook='google-login')
      i.fa.fa-google
        span login with google

