section.page.auth.login
  h1.title Login
  .buttons
    .ink-button(data-hook='facebook-login' style='background: #48649F')
      span
        i.fa.fa-facebook
      span login with facebook
    .ink-button(data-hook='google-login' style='background: #DD4B39')
      span
        i.fa.fa-google
      span login with google
    .ink-button(data-hook='fenix-login' style='background: #19ACCD')
      span
        i.fa.fa-graduation-cap
      span login with fenixedu

