section.page.auth.login
  h2 Login
  div
    div.ink-button.blue(data-hook='facebook-login')
      span
        i.fa.fa-facebook
      span login with facebook
    div.ink-button.blue(data-hook='google-login')
      span
        i.fa.fa-google
      span login with google
    div.ink-button.blue(data-hook='fenix-login')
      span
        i.fa.fa-graduation-cap
      span login with fenix

