section.page.partners.ink-grid
  h3 Partners

  .sub-title Diamond
  .partners.exclusive
    .list-inline(data-hook='exclusive-partner')

  .sub-title Platinum
  .partners.maximum
    .list-inline(data-hook='max-partner')

  .sub-title Gold
  .partners.medium
    .list-inline(data-hook='med-partner')

  .sub-title Silver
  .partners.minimum
    .list-inline(data-hook='min-partner')

  .all-100
    p.note Made with &#9829; at SINFO