.session.all-100
  a(data-hook='action-view')
    h2.kind(data-hook='kind')
    h3.name(data-hook='name')
    div(data-hook='date')
      i.fa.fa-calendar
        span
    div(data-hook='hours')
      i.fa.fa-clock-o
        span
    div(data-hook='place')
      i.fa.fa-map-marker
        span
  div(data-hook='description')
    div


