.session.all-100
  a(data-hook='action-view')
    .all-40
      h2
        span.kind(data-hook='kind')
        span.name(data-hook='name')
    .all-60
      .push-left
        .all-20(data-hook='date')
          i.fa.fa-calendar
            span
        .all-20(data-hook='hours')
          i.fa.fa-clock-o
            span
        .all-20(data-hook='place')
          i.fa.fa-map-marker
            span

