section.page.home

  .header#header
    .opacidade
      h1
        a(href="#")
          img(src='/static/logo2.png')
      br
      h3.description 23rd edition
      .calendar
        span
          .fa.fa-calendar
            span 22 - 26 February, 2016
          .sep
          .fa.fa-map-marker
            span IST - Alameda, Lx

      a.social-icon(target="_blank" href="http://fb.com/sinfoist")
        i.social-icon.fa.fa-facebook
      a.social-icon(target="_blank" href="http://twitter.com/sinfo_ist")
        i.social-icon.fa.fa-twitter
      a.social-icon(target="_blank" href="http://youtube.com/sinfoist")
        i.social-icon.fa.fa-youtube
      a.social-icon(target="_blank" href="http://instagram.com/sinfo_ist")
        i.social-icon.fa.fa-instagram
      a.social-icon(target="_blank" href="http://github.com/sinfo")
        i.social-icon.fa.fa-github

  .area-light
    h1.highlight SINFO Conf
    
    .column-group.gutters
      .all-100
        p.big SINFO Conf is one of the biggest Tech conferences in Portugal. It's 
          | an annual, non-profit event organised exclusively by college students who
          | strive for a more interesting and ground-breaking event each edition.

    .column-group.gutters
      .all-50.small-100.tiny-100.justify-text
        h3 When?
        p.big The 23rd annual edition will take place from 22 to 26 February 2016.
          
      .all-50.small-100.tiny-100.justify-text
        h3 Where?
        p.big SINFO takes place at the Alameda Campus of Instituto Superior Técnico,
          | in the beautiful city of Lisbon, Portugal.
    .column-group.gutters
      .all-50.small-100.tiny-100.justify-text
        h3 Why?
        p.big Our main goal is to allow students and general attendance to interact
          | and be closer with influential, important and interesting people or
          | companies in the fields of Information Technology and Computer Science.
          
      .all-50.small-100.tiny-100.justify-text
        h3 For how much?
        p.big NOTHING! We commit to make everything available for FREE! You just
          | need to show up to enjoy the event.

  .light.container.section.overlay.speakers.all-100(data-hook='speakers-area')
    h1.light Speakers
    h4.light One week filled with talks from the best speakers!
    div

  .area-light.sessions.all-100(data-hook='sessions-calendar')
    h1 Schedule
    div

  .container.section.light.overlay-cv
    h1.light Upload your CV now!
    p.light Are you new to the job market? Or maybe looking for a new challenge? Well, send us your curriculum vitae and every company present at SINFO 22 will receive it!
    a.ink-button.blue(href="/me/edit" ) Upload CV
