section.page.home
  .speakers.all-100(data-hook='speakers-area')
    h1 Speakers
    div

  .sessions.all-100(data-hook='sessions-calendar')
    h1 Schedule
    div

  .partners.all-100(data-hook='partners-area')
    h1 Partners
    div
