section.page.home

  .header#header
    .opacidade
      h1
        a(href="#")
          img(src='/static/logo2.png')
      p.description Welcome to SINFO 22 website!
      .calendar
        span
          .fa.fa-calendar
            span 23 - 28 February
          .sep
          .fa.fa-map-marker
            span IST - Alameda, Lx

      a.social-icon(target="_blank" href="http://fb.com/sinfoist")
        i.social-icon.fa.fa-facebook
      a.social-icon(target="_blank" href="http://twitter.com/sinfo_ist")
        i.social-icon.fa.fa-twitter
      a.social-icon(target="_blank" href="http://youtube.com/sinfoist")
        i.social-icon.fa.fa-youtube
      a.social-icon(target="_blank" href="http://instagram.com/sinfo_ist")
        i.social-icon.fa.fa-instagram
      a.social-icon(target="_blank" href="http://github.com/sinfo")
        i.social-icon.fa.fa-github

  .area-light
    h1.highlight SINFO

    p.big
      a(href='http://sinfo.org') SINFO Conf
      |  is one of the biggest Tech events in Portugal, and is heading to its 22nd Edition.

    p.big During a whole week, thousands of participants gather to see some of the brightest minds and greatest speakers in the world talk about some of the trendiest topics of today. Everyone will be able to try the newest gadgets and technologies in the market while being presented with an overview of the IT landscape by the country’s best companies. To top it all off, every day several workshops on the most requested topics will allow every participant to improve their technical and non-technical skills. Save the date, this is one of the biggest events of the year which you will not want to miss.

    a.ink-button.blue(href="http://sinfo.org" ) Learn More

  .light.container.section.overlay.speakers.all-100(data-hook='speakers-area')
    h1.light Speakers
    h4.light One week filled with talks from the best speakers!
    div

  .area-light.sessions.all-100(data-hook='sessions-calendar')
    h1 Schedule
    div

  .container.section.light.overlay-cv
    h1.light Upload your CV now!
    p.light Are you new to the job market? Or maybe looking for a new challenge? Well, send us your curriculum vitae and every company present at SINFO 22 will receive it!
    a.ink-button.blue(href="/me/edit" ) Upload CV
