section.page.speakers.view.ink-grid
  h1.name(data-hook='name')
  //- img(data-hook='img')
  .img-container
   .img(data-hook='img')
  h3.title(data-hook='title').title-speaker-details

  h6 Biography
  .description(data-hook='description')
    div

  .details
     .sessions.all-100(data-hook='speaker-sessions')
       div
