section.page.speakers.view.ink-grid
  .img-container
   .img(data-hook='img')
  h1.name(data-hook='name')
  span.title(data-hook='title')

  .description(data-hook='description')
    h3 Biography
    br
    div

  .overlay-blue.container.section
    .sessions.all-100(data-hook='speaker-sessions')
      div.light
